h5{
    color: #1C5A6B;
    font-weight: 600;
}

h2{
    color: #1C5A6B;
    font-weight: 600;
}

#headText{
    padding: 0;
    margin: 3% 0%;
}

h5 a{
    color: #1C5A6B;
    font-weight: 600;
}
h5 a:hover{
    color: #1C5A6B;
    font-weight: 600;
    text-decoration: underline;
}

.eventsRow{
    margin: 1%;
}
.eventCol{
    padding: 2%;
    /* background-color: #eee;
    border: 0px solid #eee;
    border-radius: 4%;
    margin: 0.5%; */
}
.eventCol p{
    font-size: 18px;
}
.eventCol a{
    color: #000;
}
.eventCol a:hover{
    color: #000;
    text-decoration: underline;
}
.eventThumbnail{
    width: 100%;
    border-radius: 3%;
}
.eventName{
    text-align: center;
    margin-top: 3%;
}
#eventHeading{
    text-align: center;
}

.card img{
    width: 90%;
}



#blogHead{
    padding: 2%;
    color: #1C5A6B;
}

#blogText{
    padding: 0% 5%;
}

#commentsDiv{
    padding: 0% 3%;
}

.submitBtn{
    background-color: #1C5A6B;
    border-color: #1C5A6B;
}

.submitBtn:hover{
    background-color: #1C5A6B;
    border-color: #1C5A6B;
    text-decoration: underline;
}
