@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

#navBar_column {
    padding: 0;
}

#navBar {
    /* background-color: #dbdbdb; */
    background-color: #1C5A6B;
}

.navLink {
    /* color: #1C5A6B; */
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0.2rem;
}

.navLink:hover {
    /* color: #1C5A6B; */
    color: #fff;
    text-decoration: underline;
}

#navLogo {
    color: #1C5A6B;
}

#navExpandButton{
    /* color: #fff; */
    background-color: #fff;
}

#navName {
    font-size: 25px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #1C5A6B;
}

#logoLi a {
    display: inline;
}


#footer{
    background-color: #1C5A6B;
    margin-top: 3%;
    color: #fff;
}

.copyrightLink{
    background-color: #164552;
}

.copyrightLink a{
    color: #fff;
    text-decoration: underline;
}

.copyrightLink a:hover{
    color: #b4b4b4;
    text-decoration: underline;
}

#footerCol{
    margin: 0;
    padding: 0;
}

#socialmediaDiv{
    padding: 2%;
}

#socialmediaDiv a{
    color: #fff;
}

#socialmediaDiv a:hover{
    color: #b4b4b4;
}

.sectionHr{
    border-top: 1px solid #1C5A6B;
    border-radius: 5px;
}
